<div class="intro">
    <h1 id="intro__name">{{ site.author.name }}</h1>
    <h2 id="intro__job">{{ site.author.job }}</h2>
    
    <ul class="social">
      <li>
        <a href="#" >
          <i class="fas fa-envelope-open social__icons"></i>
        </a>
      </li>
      <li>
        <a href="#" >
          <i class="fab fa-gitlab social__icons"></i>
        </a>
      </li>
      <li>
        <a href="#" >
          <i class="fa fa-arrow-circle-down social__icons"></i>
        </a>
      </li>
    </ul>
</div>
